<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta http-equiv="Access-Control-Allow-Credentials" content="true">
	<!--script src="/javascripts/_postsScript.js"></script-->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	<link rel="stylesheet" href="/bootstrap/dist/cover/cover.css" />
</head>

<body>

	<!-- Inicio do Header -->

	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

		<header class="masthead mb-auto">

			<div class="inner">

				<h3 class="masthead-brand">Guilherme Victor
					<br/> Borges Pereira</h3>
				<nav class="nav nav-masthead justify-content-center">

					<a class="nav-link" href="/">Home</a>
					<a class="nav-link active" href="/posts">Postagens</a>
					<a class="nav-link" href="/contact">Contato</a>
					<a class="nav-link" href="/sobre">Sobre Mim</a>
					<a class="btn btn-sm btn-secondary btn-login text-link-personalizado" href="/login" style="color: white">Login</a>
				</nav>
			</div>
		</header>

		<!-- Fim do Header -->

		<!-- Inicio Comentários -->

		<div id="divAling" class="container">
			<div class="container" id="comentarios">
				<h1 class="w3-text-grey w3-padding-16 text-center">
					<%= title %>
				</h1>
				<hr/>
				<!-- %# post[0].userId.name %-->
				<% posts.forEach(function(doc) { %>
					<div class="card text-center">
						<div class="card-header">
							<p>Featured</p>
						</div>
						<div class="card-body">
							<h5 class="card-title">
								<span>
									<%= doc.title %>
								</span>
							</h5>
							<p class="card-text">
								<%= doc.body %>
							</p>
							<a class="p-2 text-muted" href="/posts/<%= doc._id %>" role="button">Leia Mais &rarr;</a>
						</div>
						<div class="card-footer text-muted">
							<p>
								Postado em 
								<%= doc.date.day %>
								do
								<%= doc.date.month %>
								de
								<%= doc.date.year %>
								por
								<span>"<%= doc.userId.name %>"</span>.
							</p>
						</div>
					</div>
					<hr/>

				<% }) %>

			</div>
			<br/>
			<!-- <button type="button" name="moreComments" onclick="moreComments()">Mostrar Mais</button> -->
		</div>

		<!-- Fim Comentários -->

		<!-- inicio Rodapé -->

		<footer class="mastfoot mt-auto">

			<div class="inner">

				<p>
					<span>&copy; 2018</span> - Blog. Todos os direitos reservados.</p>
			</div>
		</footer>

		<!-- Fim Rodapé -->
	</div>
</body>

</html>